body,
html {
  padding: 0;
  margin: 0;
}

#table,
th,
td {
  border: solid darkgrey;
}

#table-header {
  background-color: aqua;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0 0 0 8px;
}
